<!DOCTYPE html>
<html>

	<head>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/getdelete.css') }}">
	</head>

	<body>
		<h1>Show Student</h1>
		<p>Only works with valid student IDs.</p>
		{% for message in get_flashed_messages() %}
			<p id="popup">{{ message }}</p>
		{% endfor %}
		
		<div>
			<form action="/student">
					<label for="id">Student ID:</label>
					<input type="number" id="id" name="id"><br>
			
				<div class="block" id="buttonblock">
					<input type="submit" id="button" value="Show Student" />
				</div>
				
			</form>	
			<form action="/">
				<div class="block" id="buttonblock">
					<input type="submit" id="button" value="Go Back" />
				</div>
			</form>
		</div>
	</body>
</html>