<!DOCTYPE html>
<html>

	<head>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/newstudent.css') }}">
	</head>

	<body>
		<h1>Add new student!</h1>
		
		
		{% for message in get_flashed_messages() %}
			<p id="popup">{{ message }}</p>
		{% endfor %}
		
		<div>
			<form action="/studentadded">
					<label for="id">Student ID:</label>
					<input type="number" id="id" name="id"><br>
					<label for="fname">Student first name:</label>
					<input type="text" id="fname" name="fname"><br>
					<label for="lname">Student last name:</label>
					<input type="text" id="lname" name="lname"><br>
					<label for="dob">Student date of birth (DDMMYYYY) :</label>
					<input type="number" id="dob" name="dob"><br>
					<label for="amountdue">Amount due:</label>
					<input type="number" id="amountdue" name="amountdue"><br>
			
				<div class="block" id="buttonblock">
					<input type="submit" id="button" value="Add Student" />
				</div>
				
			</form>	
			<form action="/">
				<div class="block" id="buttonblock">
					<input type="submit" id="button" value="Go Back" />
				</div>
			</form>
		</div>
	</body>
</html>