body {
	background-color: #dddddd;
	color: #333333;
	font-family: 'Trebuchet MS', sans-serif;
	text-shadow: 0.5px 0.5px 1px #000000;
}

h1{
	color: #333333;
	text-align: center;
	font-size: 66px;
}

h2{
	margin-top: 80px;
	color: #333333;
	font-size: 56px;
	
}

p{
	font-size: 20px;
	line-height: 140%;
	margin-right: 70px;
}

#popup{
	text-align:center;
}



#button{
	border-color: rgba(200, 200, 200, 0.5);
	background:transparent;
	margin-top:40px;
	font-size: 18px;
	color:#333333;
	width: 200px;
	text-align: center;
	text-shadow: 0.5px 0.5px 1px #000000;
}



div{
	float:left;
	margin-top: 40px;
	margin-left: 100px;
}

